body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}
header {
  background-color: #FFFFFF;
  border-color: #ccc;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  padding: 20px 10px 20px 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}
#logo {
  float: left;
}
#links {
  margin: auto;
}
#links ul {
  list-style-type: none;
}
#links li {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}
#links a {
  text-decoration: none;
}
#search {
  position: fixed;
  top: 20px;
  right: 10px;
  bottom: 20px;
  clear: right;
}
#search input {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #CCCCCC;
  font-size: 14px;
}
#upload {
  width: 400px;
  margin: 25px auto;
  background-color: #673AB7;
  border-radius: 15px;
  color: #FFFFFF;
  text-align: center;
}
fieldset {
  border-style: none;
}
#upload legend {
  font-size: 24px;
  padding-top: 15px;
}
#upload a {
  text-decoration: none;
  color: #FFFFFF;
}
#upload a:hover, #upload a:hover {
  color: #7E57C2;
}
#upload input {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #CCCCCC;
  font-size: 14px;
}
